<mat-horizontal-stepper [linear]="'true'" #stepper="matHorizontalStepper"
  fxLayout="column"  fxLayoutAlign="spave-evenly"
  [ngStyle]="{'paddingLeft.px': 200, 'paddingRight.px': 200}"
   fxFlex="100">
  <mat-step [stepControl]="projectForm">
    <ng-template matStepLabel>dados do projeto</ng-template>
    <form #form="ngForm" fxLayout="row" fxLayoutWrap fxLayoutAlign="center center"
     novalidate [formGroup]="projectForm">
      <mat-form-field fxFlex="90">
        <input matInput placeholder="nome"  formControlName="name" required>
      </mat-form-field>
      <mat-form-field fxFlex="90">
        <textarea matInput placeholder="description" formControlName="description" required></textarea>
      </mat-form-field>
      <mat-form-field fxFlex="43">
        <mat-select placeholder="equipe" formControlName="teams" [(value)]="team" multiple required>
          <mat-select-trigger>
            {{team ? team[0]?.member : ''}}
            <span *ngIf="team?.length > 1">
              (+{{team?.length - 1}} others)
            </span>
          </mat-select-trigger>
          <mat-option *ngFor="let team of teamList"  [value]="{member: team.name, timeSpend: team.workload}">{{team.name}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field fxFlex="43" fxFlexOffset="4">
        <mat-select placeholder="responsável" formControlName="boss" [(value)]="selectedBoss" required>
          <mat-option  *ngFor="let collaborator of team" [value]="collaborator.member">
            {{collaborator.member}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field fxFlex="43">
        <input matInput [matDatepicker]="dateBegin" [matDatepickerFilter]="myFilterStart" 
        placeholder="data de início" [formControl]="start"
        [max]="end.value"
        required>
        <mat-datepicker-toggle matSuffix [for]="dateBegin"></mat-datepicker-toggle>
        <mat-datepicker #dateBegin [disabled]="selectedBoss == ''"></mat-datepicker>
      </mat-form-field>
      <mat-form-field fxFlex="43" fxFlexOffset="4">
        <input matInput [matDatepicker]="dateEnd" [matDatepickerFilter]="myFilterEnd"
          placeholder="data de conclusão" [formControl]="end"
          [min]="start.value" 
          required>
        <mat-datepicker-toggle matSuffix [for]="dateEnd"></mat-datepicker-toggle>
        <mat-datepicker #dateEnd [disabled]="start.value == ''"></mat-datepicker>
      </mat-form-field>
      <div class="button" fxFlexOffset="80" [style.marginTop.px]="45">
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Adicione horas de trabalho</ng-template>
    <form (ngSubmit)="onSubmit(form)">
      <app-project-master-team [(projeto)]="projectForm"></app-project-master-team>
      <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button type="submit" [disabled]="">save</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
  </mat-step>
</mat-horizontal-stepper>
