.btn {
    border: 1px solid transparent;
    background-color: rgba(13, 245, 175, 0.719);
    color: white;
    cursor: pointer;
}
.btn:disabled {
    background-color: cadetblue;
}
.btn-remove {
    border: 1px solid transparent;
    background-color: rgba(233, 64, 64, 0.781);
    color: white;
    cursor: pointer;
}
mat-horizontal-stepper {
    padding: 60px 0;
}