<div class="example-container" fxLayout="column" fxLayoutAlign="center center" fxLayoutWarp>
  <form [formGroup]="colaboratorForm"  (ngSubmit)="onSubmit()" fxLayout="row"
  fxLayoutAlign="center center" fxLayoutWrap fxFlex="100" fxFlexOffset.xs="20" fxFlexOffset="2"
  [ngStyle.gt-xs]="{'padding.px': 20}">
    <mat-form-field fxFlex="48" fxFlex.xs="90">
      <input  matInput placeholder="nome" formControlName="name" required>
    </mat-form-field>
    <mat-form-field fxFlex="48" fxFlexOffset="4" fxFlexOffset.xs="0" fxFlex.xs="90">
      <input  #isMail matInput placeholder="email" formControlName="email"
      required>
      <mat-error>
       {{getErrorMessage()}}
      </mat-error>
    </mat-form-field>
    <mat-form-field fxFlex="48" fxFlex.xs="90">
      <input  matInput placeholder="phone" formControlName="phone">
    </mat-form-field>
    <mat-form-field fxFlex="48" fxFlex.xs="90" fxFlexOffset="4" fxFlexOffset.xs="0">
      <input  matInput [matDatepicker]="picker" placeholder="birth" formControlName="birth">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker startView="year" [startAt]="startDate"></mat-datepicker>
    </mat-form-field>
    <mat-form-field fxFlex="48" fxFlex.xs="90">
      <input matInput #valor placeholder="workload" [(ngModel)]="load" formControlName="workload" 
      (keyup)="inputChange(valor)"
      numberInteger required>
    </mat-form-field>
    <mat-form-field fxFlex="48" fxFlex.xs="90" fxFlexOffset="4" fxFlexOffset.xs="0">
      <input  matInput placeholder="scholarity" formControlName="scholarity">
    </mat-form-field>
    <span fxFlexOffset.gt-xs="90" [ngStyle]="{'margin-bottom.px': 50, 'margin-top.px': 25}">
      <button mat-raised-button type="submit" [disabled]="!colaboratorForm.valid" color="primary"
      [ngStyle.xs]="{'padding-left.px': 50, 'padding-right.px': 50, 
      'padding-top.px': 8, 'padding-bottom.px': 8}">
        Save
      </button>
    </span>
  </form>
</div>